.big-banner{
    background-image: url('../images/White\ Illustrative\ Creative\ Literature\ Project\ Presentation.jpg');
    background-size: 100%;
}

.fresh-content{
    background: linear-gradient(-45deg,#ec5252,#6e1a52);
}

